<% if flash[:notice] %>
  <p ><%= flash[:notice] %></p>
<% end %>

<h1>Events</h1>

<% @events.each do |event| %>


<h1><%= event.name %></h1>

<h3><%= event.date %></h3>

<h3><%= event.description %></h3>

<button><%=link_to('Edit Event', edit_event_path(event)) %></button>

<button>
	<%=link_to('Destroy Event', event, method: :delete, data: {confirm: "Are you sure you want to delete the '#{event.name}'' event?"}) %>
</button>

<% end %>

<br>
<button><%= link_to('New Event', new_event_path) %></button>